<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/products/{productId}/update(productId=${product.id})}"
      enctype="multipart/form-data" method="post">
    <label for="name">Name:
        <input type="text" name="name" id="name" th:value="${product.name}">
    </label><br>
    <label for="description">Description:
        <input type="text" name="description" id="description" th:value="${product.description}">
    </label><br>
    <label for="cost">Cost:
        <input type="number" name="cost" id="cost" th:value="${product.cost}">
    </label><br>
    <label for="quantity">Quantity:
        <input type="number" name="quantity" id="quantity" th:value="${product.quantity}">
    </label><br>
    <div>
    <label for="type">Type:
            <select name="type">
                <option th:each="type : ${types}"
                        th:text="${type.name()}"
                        th:value="${type}"
                        th:selected="${type == product.type}"
                        id="type">Type</option>
            </select>
    </label><br>
    </div>
    <label for="manufacturer">Manufacturer:
        <input type="text" name="manufacturer" id="manufacturer" th:value="${product.manufacturer}">
    </label><br>
    <div th:if="${product.image}">
        <img th:src="@{/api/v1/products/{productId}/avatar(productId=${product.id})}"
             alt="Product image" width="300" height="300">
    </div>
    <label for="image">Image:
        <input type="file" name="image" id="image">
    </label><br>
    <button type="submit">Update</button>
</form>
<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/products/{productId}/delete(productId=${product.id})}" method="post">
    <button type="submit">Remove</button>
</form><br>

<form sec:authorize="hasAuthority('USER')" th:action="@{/orders/{productId}/add(productId=${product.id})}" method="post">
    <div th:text="|Name: ${product.name}|">Name:</div>
    <div th:text="|Description: ${product.description}|">Description:</div>
    <div th:text="|Cost: ${product.cost}|">Cost:</div>
    <div th:text="|Quantity: ${product.quantity}|">Quantity:</div>
    <div th:text="|Manufacturer: ${product.manufacturer}|"></div>
    <div th:if="${product.image}">
        <img th:src="@{/api/v1/products/{productId}/avatar(productId=${product.id})}"
             alt="Product image" width="300" height="300">
    </div>
    <button type="submit">Add to cart</button>
</form>

Reviews:
<div th:each="review : ${reviews}">
    <p th:text="|date: ${review.date}|">reviewDate</p>
    <p th:text="|grade: ${review.grade}|">reviewGrade</p>
    <p th:text="|${review.review}|">reviewBody</p>
</div>
</body>
</html>