<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/clients}">
    <button type="submit">Clients</button>
</form>
<div sec:authorize="hasAuthority('USER')" th:insert="~{fragment :: order}"></div>

<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/products/new}">
    <button type="submit">Add product</button>
</form>

<form th:action="@{/products}">
    <label for="name">Name:
        <input id="name" type="text" name="name" th:value="${filter.name}">
    </label>
    <label for="type">Type:
        <select name="type">
            <option th:each="type : ${types}"
                    th:text="${type.name()}"
                    th:value="${type}"
                    th:selected="${type == filter.type}"
                    id="type">Type</option>
        </select>
    </label><br>
        <label for="manufacturer">Manufacturer:
            <input id="manufacturer" type="text" name="manufacturer" th:value="${filter.manufacturer}">
        </label>
    <label for="cost">Cost:
        <input id="cost" type="number" name="cost" th:value="${filter.cost}">
    </label>
    <div>
        <label for="page">Page:
            <input id="page" type="number" name="page" th:value="${products.metaData.page}">
        </label>
        <label for="size">Size:
            <input id="size" type="number" name="size" th:value="${products.metaData.size}">
        </label>
    </div>
    <button type="submit">Filter</button>
</form>
<div th:each="product : ${products.content}">
    <a th:href="@{'/products/' + ${product.id}}" th:text="|${product.id}. ${product.name} - ${product.description}.
    Quantity: ${product.quantity}|">Product</a>
</div>
</body>
</html>